nav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding-top: 20px;
}

nav a {
  text-decoration: none;
  color: #999;
  padding: 10px 15px;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  font-weight: bold;
  color: #ff7700;
}

.info-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-top: 20px;
}

.title-name {
  color: #fff;
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
}

.menu {
  padding-right: 20px;
}
